[run]
omit = 
    */shibokensupport/*
    */pyscript/*
    config.py
    config-3.py
    tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.: